.container-fluid {
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding:0;
    margin:0;
}
.fixed-image {
    background-image: url('../../media/cover.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 100vh;
    position: fixed;
}
.scroll-content {
    width: 35%;
    margin-left: auto;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    padding: 0;
}
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.section-content{
    height: 100vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.section-content.hadiah .card{
    background-color: #329FCE;
}
.section.visible {
    opacity: 1;
    transform: translateY(0);
}
.section:nth-child(4) {
    color: #FFFFFF;
    background-image: url('../../media/2.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .section-overlay{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}
.section:nth-child(5) { background-color: #45553D; color: #FFFFFF }
.section:nth-child(6) { background-color: #6D7E5F; color: #FFFFFF }
.section:nth-child(7) { background-color: #92A079; color: #FFFFFF }
.section:nth-child(8) { background-color: #C4C8AC; color: #FFFFFF }
.section:nth-child(9) { background-color: #E8E9E0; color: #333333 }
.section.landing{
    justify-content: flex-end;
}
.landing {
    position: absolute;
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    transition: transform .3s ease-in-out;
    background-image: url('../../media/1.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-content {
    background-color: white;
    opacity: .5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.landing-content div.bottom{
    display: flex;
    justify-content: center;
}

button#open-invitation {
    background: #FFD700;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

button#open-invitation:hover {
    background: #FFA500;
}

.scroll-content.locked {
    overflow: hidden;
}

.music-control {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.music-control:hover {
    background: rgba(255, 255, 255, 1);
}
.event-details {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.event-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.event-details p {
    font-size: 1.2rem;
}
.event-details h2,
.event-details p,
.event-details .row
{
    color: black;
}

.countdown-container {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.countdown-box {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

/* form ucapan */
#comments{
    overflow: hidden;
    overflow-y: scroll;
}


/* hadiah */
.num-rek{
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.bi-clipboard{
    cursor: pointer;
}

.bg-elem{
    background-image: url(https://acarakami.com/wp-content/uploads/2019/10/pattern-payment-1.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60% auto;
    opacity: .85;
}

.bg-master-card{
    background-image: url('../../media/master-card.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 25% auto;
}

/* footer */
.footer {
    padding: 20px;
    background: #3e3e3e;
    font-size: 0.9rem;
    color: #333;
    bottom: 0;
}
.footer p{
    color: white;
    margin:0
}

@media (max-width: 768px) {
    .fixed-image {
        display: none;
    }
    .scroll-content,
    .landing {
        width: 100%;
    }
}